Node Red flow.json
[{"id":"904963f.4bc0da","type":"tab","label":" Shop For Essentials During Pandemic","disabled":false,"info":""},{"id":"2891937d.bb5f5c","type":"ui_form","z":"904963f.4bc0da","name":"","label":"","group":"592e8774.8750e8","order":1,"width":0,"height":0,"options":[{"label":"Enter your input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":200,"wires":[["a007248f.10bf98"]]},{"id":"a007248f.10bf98","type":"function","z":"904963f.4bc0da","name":"","func":"msg.payload= msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":200,"wires":[["a0062851.81b158","f74fb358.c27db"]]},{"id":"a0062851.81b158","type":"watson-conversation-v1","z":"904963f.4bc0da","name":"","workspaceid":"1858f09f-909e-48d7-9c1f-d09b35499841","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/c3d914dd-bc3d-4720-a90a-5043b09a518a","timeout":"","optout-learning":false,"x":420,"y":360,"wires":[["3b2001ad.0207ce","4d38cc9b.264804"]]},{"id":"4d38cc9b.264804","type":"function","z":"904963f.4bc0da","name":"","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\nelse{\n    msg.url=\"\"\n    msg.payload = msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":280,"wires":[["3b2001ad.0207ce","2a14e8b8.ee2828","710790c0.f5daf","2c00e155.6502be"]]},{"id":"3b2001ad.0207ce","type":"debug","z":"904963f.4bc0da","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":420,"wires":[]},{"id":"2a14e8b8.ee2828","type":"ui_template","z":"904963f.4bc0da","group":"592e8774.8750e8","name":"","order":4,"width":6,"height":5,"format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":800,"y":200,"wires":[[]]},{"id":"710790c0.f5daf","type":"ui_audio","z":"904963f.4bc0da","name":"","group":"592e8774.8750e8","voice":"de-DE","always":"","x":780,"y":340,"wires":[]},{"id":"f74fb358.c27db","type":"ui_text","z":"904963f.4bc0da","group":"592e8774.8750e8","order":2,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":270,"y":460,"wires":[]},{"id":"2c00e155.6502be","type":"ui_text","z":"904963f.4bc0da","group":"592e8774.8750e8","order":3,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":420,"wires":[]},{"id":"592e8774.8750e8","type":"ui_group","z":"","name":"Shop for Essentials during Pandemics","tab":"cfcea735.6f5618","order":1,"disp":true,"width":"6","collapse":false},{"id":"cfcea735.6f5618","type":"ui_tab","z":"","name":"Chatbot","icon":"dashboard","disabled":false,"hidden":false}]